:root {
  --primary-color: #D7A00F;
  --bg-color: #2A1110;
  --card-bg: #783D03;
  --text-color: #FAE36F;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 20px;
}
.pricing {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.title {
  margin-bottom: 30px;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .cards {
    flex-direction: row; 
  }
}
.card {
  flex: 1;
  background: var(--card-bg);
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #c9d8ab;
}
.card-popular {
  border: 2px solid var(--primary-color);
}
.price {
  font-size: 32px;
  font-weight: bold;
  margin: 15px 0;
}
.price span {
  font-size: 14px;
  font-weight: normal;
  color: #D97812;
}
ul {
  list-style: none;
  margin-bottom: 20px;
}

li {
  padding: 6px 0;
}
.btn {
  font-family: inherit; 
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
  cursor: pointer;
  font-weight: bold;
}
.btn-primary {
  background: var(--primary-color);
  color: #ffffff;
}
.experiments {
  max-width: 900px;
  margin: 60px auto 0;
  padding-top: 20px;
  border-top: 2px dashed #94a3b8;
}

.box-content, .box-border {
  width: 200px;
  padding: 20px;
  border: 4px solid rgb(88, 76, 11);
  margin-bottom: 10px;
}
.box-content { box-sizing: content-box; } 
.box-border  { box-sizing: border-box; }  

/* Специфічність: ID перебиває клас */
.my-class { color: rgb(85, 86, 11); }
#my-id    { color: rgb(33, 15, 113); }


